@use "global" as *;

.service-feature{

  @include mq(md) {
    margin-top: rem(93);
    max-width: rem(1170);
    margin-inline: auto;
    padding-bottom: rem(100);
    padding-inline: $padding-pc;
  } 
}

.service-feature__wraps {
  margin-top: rem(35);
  @include mq(md) {
    margin-top: rem(45);
  }
}

.service-feature__wrap {
  display: flex;
  align-items:  center;
  justify-content: center;
  gap: rem(25);
  margin-top: rem(30);

  @include mq(md) {
    gap: min(3vw, rem(50));
    position: relative;
    margin-top: rem(105);
  } 
}

.service-feature__01,
.service-feature__03{
  flex-direction: column;
  background: linear-gradient(180deg, #F4F9FD 0%, #F4F9FD 70%, transparent 70%, transparent 100%);

  @include mq(md) {
    margin-top: 0;
    position: relative;
    flex-direction: row;
    background: none;
  } 
}
.service-feature__03{
  @include mq(md) {
    margin-top: rem(105);
  } 
}

.service-feature__01::before,
.service-feature__03::before
{
  @include mq(md) {
    position: absolute;
    content: "";
    top: 20%;
    right: 0;
    background: linear-gradient(90deg, transparent 0%, transparent 7%, #F4F9FD 7%, #F4F9FD 100%);
    width: 100vw;
    height: rem(400);
    z-index: -1;
    margin-right: calc(50% - 50vw);
  } 
}

.service-feature__01::after,
.service-feature__03::after {
    position: absolute;
    display: block;
    font-family: $english-font-family;
    font-size: rem(100);
    font-weight: $bold;
    position: absolute;
    right: 0;
    top: rem(-34);
    text-transform: uppercase;
    color: $blue;
    opacity: 0.05;  
  
    @include mq(md) {
      font-size: rem(135);
      top: 77%;
      left: 10%;
    }
}

.service-feature__01::after{
  content: "01";

}

.service-feature__03::after {
  content: "03";
}

.service-feature__02{
  flex-direction: column;
  background-color: $blue;
  color: $white;
  background: linear-gradient(180deg, $blue 0%, $blue 70%, transparent 70%, transparent 100%);

  @include mq(md) {
    position: relative;
    flex-direction: row-reverse;
    background: none;
  } 
}

.service-feature__02::before{
  @include mq(md) {
    position: absolute;
    content: "";
    top: 20%;
    left: 0;
    background-color: $blue;
    // background: linear-gradient(90deg, $blue 0%, $blue 94%, transparent 94%, transparent 100%);
    width: 92vw;
    height: rem(385);
    z-index: -1;
    margin-left: calc(50% - 50vw);
  } 
}

.service-feature__02::after{
    position: absolute;
    content: "02";
    display: inline-block;
    font-family: $english-font-family;
    font-size: rem(100);
    font-weight: $bold;
    position: absolute;
    right: 0;
    top: rem(-34);
    text-transform: uppercase;
    color: $white;
    opacity: 0.05;  
  
    @include mq(md) {
      font-size: min(10vw,rem(135));
      top: 80%;
      right: 0%;
  } 
}

.service-feature__texts{
  position: relative;
  padding-top: rem(30);
  padding-inline:  $padding-sp;

  @include mq(md) {
    padding-inline: 0;
    padding-top: rem(100);
    padding-bottom: rem(10);
    max-width: min(30vw,rem(450));
  }
}

.service-feature__texts--02  {
  @include mq(md) {
    padding-left: 0;
    // padding-right: rem(10);
  }
}

.service-feature__number{
  display: inline-block;
  font-family: $english-font-family;
  font-size: rem(100);
  font-weight: $bold;
  position: absolute;
  right: 0;
  top: rem(-34);
  text-transform: uppercase;


  @include mq(md) {
    font-size: min(0.5vw, rem(135));
    top: 60%;
  }
}

.service-feature__number--left {
  color: $blue;
  opacity: 0.05;


  @include mq(md) {
    left: 0%;
  }
}

.service-feature__number--right {
  color: $white;
  opacity: 0.07;


  @include mq(md) {
    right: -10%;
  }
}

.service-feature__heading{
  position: relative;
  font-size: rem(22);

  @include mq(md) {
    font-size: min(3vw, rem(34));
    font-weight: $bold;
    margin-top: rem(40);
  }
}

.service-feature__heading::before{
  content: "";
  position: absolute;
  display: block;
  height: rem(2);
  left: 0%;
  bottom: rem(-4);
  background-color: $blue;
  width: rem(35);
}

.service-feature__heading--white::before {
  background-color: $white;

}

.service-feature__text{
  font-size: rem(16);
  line-height: 1.75;
  margin-top: rem(15);
  flex-shrink: 1;

  @include mq(md) {
    font-weight: $regular;
    margin-top: rem(25);
    font-size: min(1.5vw, rem(16));

  }
}
.service-feature__img{
  aspect-ratio: 360 / 232;
  overflow: hidden;
  max-width: rem(360);

  @include mq(md) {
    max-width: min(50vw,rem(620));
    aspect-ratio: 620 / 400;
    padding: 0;
  }
}

.service-feature__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(15);
}