@use "global" as *;

.service-feature{

  @include mq(md) {
    margin-top: rem(93);
    max-width: rem(1170);
    margin-inline: auto;
    padding-bottom: rem(100);
    padding-inline: $padding-pc;
  }
}

.service-feature__number{
  position: absolute;
  display: block;
  font-family: $english-font-family;
  font-size: min(26vw, rem(100));
  font-weight: $bold;
  right: 0;
  margin-left: rem(5);
  top: 0;
  text-transform: uppercase;
  color: $blue;
  opacity: 0.05;
  line-height: 0.8;

  @include mq(md) {
    display: none;
  }
}

.service-feature__number--blue {
  color: $white;

}

.service-feature__number--left {
  color: $blue;
  opacity: 0.05;


  @include mq(md) {
    left: 0%;
  }
}

.service-feature__number--right {
  color: $white;
  opacity: 0.07;


  @include mq(md) {
    right: -10%;
  }
}

.service-feature__heading{
  position: relative;
  font-size: rem(22);

  @include mq(md) {
    font-size: min(3vw, rem(34));
    font-weight: $bold;
    margin-top: rem(40);
  }
}

.service-feature__heading::before{
  content: "";
  position: absolute;
  display: block;
  height: rem(2);
  left: 0%;
  bottom: rem(-4);
  background-color: $blue;
  width: rem(35);
}

.service-feature__heading--white::before {
  background-color: $white;

}

.service-feature__text{
  font-size: rem(16);
  line-height: 1.75;
  margin-top: rem(15);
  flex-shrink: 1;
  letter-spacing: 0.1em;

  @include mq(md) {
    font-weight: $regular;
    margin-top: rem(25);
    font-size: min(1.5vw, rem(16));
  }
}

.service-feature__img{
  aspect-ratio: 360 / 232;
  overflow: hidden;
  max-width: rem(360);

  @include mq(md) {
    max-width: min(50vw,rem(620));
    aspect-ratio: 620 / 400;
    padding: 0;
  }
}

.service-feature__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(15);
}


//=====================
//サービス
//=====================

.service {
  max-width: rem(1440);
  margin-inline: auto;
  padding-inline: $padding-sp;
  padding-top: rem(50);
  position: relative;

  @include mq(md) {
    padding-inline: $padding-pc;
    padding-top: rem(90);
  }
}

.service__inner.inner {
  @include mq("md") {
    max-width: rem(1220);
  }
}

.service__content {
  position: relative;
  padding-top: rem(30);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(25);

  @include mq("md") {
    padding-top: rem(45);
    padding-bottom: rem(45);
    gap: min(3vw,rem(50));
    flex-direction: row;
    padding-top: 0;
    justify-content: center;
  }
}

.service__content--left {
  flex-direction: column;

  @include mq("md") {
    flex-direction: row-reverse;
    padding-left: rem(25);

  }
}

.service__content--left:last-child {
  @include mq("md") {
    justify-content: start;
  }
}


// sp用背景
.service__content::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  left: 0;

  @include mq("md") {
    display: none;
  }
}

.service__content--right::before {
  background: linear-gradient(to bottom, #f4f9fd 0%, #f4f9fd 75%, #fff 75%, #fff 100%);
  margin-left: calc(50% - 50vw);
}

.service__content--left::before {
  background: linear-gradient(to bottom, $blue 0%, $blue 75%, #fff 75%, #fff 100%);
  margin-left: calc(50% - 50vw);
}

.service__img {
  width: 100%;
  height: auto;
  aspect-ratio: 360 / 232;

  @include mq("md") {
    aspect-ratio: 620 / 400;
    max-width: min(rem(620), 47vw);
  }
}
.service__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: rem(15);
}
.service__bg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.service__bg--left {
  background: linear-gradient(to bottom, $blue 0%, $blue 92%, #fff 92%, #fff 100%);

  @include mq("md") {
    left: 0;
    margin-left: calc(50% - 50vw);
    height: min(38vw,rem(385));
    background: linear-gradient(to right, $blue 0%, $blue 92%, #fff 92%, #fff 100%);
  }
}

.service__bg--right {
  background: linear-gradient(to bottom, #fff 0%, #fff 8%, #f4f9fd 8%, #f4f9fd 100%);

  @include mq("md") {
    right: 0;
    margin-right: calc(50% - 50vw);
    height: min(36vw,rem(385));
    background: linear-gradient(to right, #fff 0%, #fff 8%, #f4f9fd 8%, #f4f9fd 100%);
  }
}

.service__bg--right--01 {
  @include mq("md") {
    height: min(32vw,rem(385));
  }
}

.service__subenglish {
  font-size: rem(90);
  display: inline-block;
  font-family: $english-font-family;
  font-weight: 700;
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  opacity: 0.07;
  line-height: 0.7;

  @include mq("md") {
    font-size: min(7vw,rem(90));
  }
}

.service__subenglish--max {

  @include mq("md") {
    font-size: min(9vw,rem(135));
  }
}

.service__subenglish--right {
  color: $blue;
  left: 8%;
}

.service__subenglish--left {
  color: $white;
  right: 8%;

}

.service__text {
  width: 100%;

  @include mq("md") {
    max-width: min(rem(450), 32vw);
  }
}
.service__text,
.service__img {
  flex: 1;
}

.service__text--white {
  color: $white;
  padding-left: 0;
  @include mq("md") {
    padding-top: rem(90);
  }
}

.service__text--03  {
  @include mq("md") {
    padding-top: rem(90);
  }
}

.service__content--left:first-child {
  @include mq("md") {
    justify-content: center;
  }
}

.service__content--center {
  @include mq("md") {
    padding-left: 0;
  }
}

.service__text--center {
  @include mq("md") {
    padding-top: 0;
  }
}