@use "global" as *;

.service-contents {
  margin-top: rem(60);
  width: 100%;
  height: auto;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #e5ecf4 calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  color: $text-color;
  padding-top: rem(50);
  padding-bottom: rem(90);

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(110);
		margin-top: rem(90);
  }
}

.service-content {
  @include mq(md) {
    margin-top: rem(30);
  }
}

.service-contents__summary {
  font-size: rem(16);
  line-height: 1.75;
  text-align: center;
  margin-top: rem(45);

  @include mq(md) {
  }
}

.service-contents__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem(25);
  gap: rem(10);

  @include mq(md) {
    display: flex;
    flex-direction: row;
    gap: rem(25);
    margin-top: rem(30);

  }
}

.service-contents__lists {
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(45);

  }
}

.service-contents__list {
  background-color: $white;
  text-align: center;
  padding: rem(20) rem(12);
  border: 3px solid $blue;

  @include mq(md) {
    padding: rem(42) rem(47) rem(45);
  }

}

.service-contents__list:not(:first-child) {
  margin-top: rem(30);

  @include mq(md) {
    margin-top: rem(50);
  }
}

.service-contents__detail01 {
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.75;
  margin-top: rem(30);
  padding-bottom: rem(20);
  border-bottom: 1px solid #000; ;
}


.service-contents__detailtop {
  font-size: rem(20);
  font-weight: $medium;
  line-height: 1.4;
  color: $blue;
  margin-top: rem(20);

}

.service-contents__detail01 {

  @include mq(md) {
    margin-top: rem(36);
  }
}

.service-contents__detail02 {
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.75;
  margin-top: rem(10);
}

.service-contents__images {
  margin-top: rem(26);
  display: grid;
  gap: rem(20);

  @include mq(md) {
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
  }
}


.service-contents__image {
  aspect-ratio: 330 / 200;

  @include mq(md) {
    aspect-ratio: initial;
    max-height: rem(200);
  }
}

.service-contents__image--01 {
  @include mq(md) {
    grid-column: 1 / span 2;
    max-height: rem(354);

  }
}

.service-contents__image img {
    border-radius: rem(10);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.service-contents__title {
  @include mq(md) {
    font-size: rem(30);
  }
}