@use "global" as *;

.form {
  margin-top: rem(35);
  @include mq("md") {
    margin-top: rem(45);
  }
}
.form__item {
  @include mq("md") {
    display: grid;
    grid-template-columns: rem(154) 1fr;
    align-items: center;
    gap: rem(28);
  }
}
.form__item--textarea {
  @include mq("md") {
    align-items: start;
  }
}
.form__item + .form__item {
  margin-top: rem(15);
  @include mq("md") {
    margin-top: rem(20);
  }
}
.form__title {
  text-align: left;
  color: $blue;
  font-size: rem(16);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(16);
  }
}
.form__required {
  margin-left: rem(10);
  color: #cc4343;
  font-size: rem(14);
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(14);
  }
}
.form__input {
  margin-top: rem(13);
  @include mq("md") {
    margin-top: 0;
  }
}
.form__text {
  height: rem(45);
  padding: rem(11) rem(10);
  font-size: rem(16);
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 100%;
  @include mq("md") {
    padding: rem(11) rem(12);
    font-size: rem(16);
  }
}
.form__text::placeholder {
  color: #999;
  font-size: rem(16);
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(16);
  }
}
.form-radio {
  margin-top: rem(10);
  @include mq("md") {
    margin: rem(6) 0;
  }
}
.form-radio__item {
  display: inline-block;
	margin-left: rem(14);
}
.mw_wp_form .horizontal-item + .horizontal-item {
  margin-left: rem(40);
  @include mq("md") {
    margin-left: rem(33);
  }
}
.mwform-radio-field-text {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: $text-color;
  font-size: rem(16);
  font-weight: $regular;
  padding-left: rem(7);
  @include mq("md") {
    font-size: rem(16);
    padding-left: rem(13);
  }
}
.mwform-radio-field-text:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid $blue;
  width: 16px;
  height: 16px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  @include mq("sm") {
    width: rem(16);
    height: rem(16);
    left: rem(-15);
  }
  @include mq("md") {
    left: rem(-8);
  }
}
.mwform-radio-field-text:after {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $blue;
	top: rem(7);
  opacity: 0;
  @include mq("sm") {
    left: rem(-12);
    width: rem(10);
    height: rem(10);
  }
  @include mq("md") {
    left: -5px;
  }
}
input[type="radio"]:checked + .mwform-radio-field-text:after {
  opacity: 1;
}
.form__textarea {
  font-size: rem(16);
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 100%;
  height: rem(202);
  padding: rem(11) rem(10);
  @include mq("md") {
    padding: rem(11) rem(12);
    font-size: rem(16);
    height: rem(154);
  }
}
.form__consent {
  margin-top: rem(27);
  font-size: rem(14);
  color: $text-color;
  font-weight: $regular;
  line-height: 1.4;
  @include mq("md") {
    text-align: center;
    margin-top: rem(4);
    font-size: rem(14);
    line-height: 1.5;
  }
}
.form__consent a {
  color: $blue;
  border-bottom: 1px solid $blue;
  line-height: 1;
  display: inline-block;
}
.form__submit-wrap {
  margin: rem(24) auto 0;
  position: relative;
  max-width: rem(250);
  width: 100%;
  @include mq("md") {
    margin-top: rem(27);
  }
}
.form__submit-wrap::after {
  content: "";
  position: absolute;
  display: block;
  width: rem(8);
  height: rem(8);
  right: rem(17);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-top: 1px solid $white;
  border-right: 1px solid $white;
  @include mq("md") {
    right: rem(12);
  }
}
.form__submit {
  max-width: rem(250);
  width: 100%;
  padding: rem(14) rem(80);
  background-color: $blue;
  color: $white;
  font-size: rem(18);
  font-weight: $bold;
  transition: opacity 0.3s;
  @include mq("md") {
    font-size: rem(18);
  }
}
.form__submit:hover {
  opacity: 0.75;
}
