@use "global" as *;
.thanks {
  margin-top: rem(50);
  margin-bottom: rem(90);
  @include mq("md") {
    margin-top: rem(60);
    margin-bottom: rem(110);
  }
}
.thanks__title {
  text-align: center;
  color: $text-color;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}
.thanks__text {
  text-align: center;
  color: $text-color;
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}
.thanks__top {
  text-align: center;
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(48);
  }
}
.thanks__top a {
  display: inline-block;
  color: $blue;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}

//=====================
//サービス
//=====================
.service {
  margin-bottom: rem(200);
}
.service__inner.inner {
  @include mq("md") {
    max-width: rem(1220);
  }
}
.top-service__contents {
  margin-top: rem(60);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.service__content {
  position: relative;
  padding-bottom: rem(45);
  @include mq("md") {
    display: flex;
    align-items: center;
    gap: rem(50);
  }
}
.service__content:first-child {
  @include mq("md") {
    justify-content: end;
  }
}
.service__content::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #f4f9fd 0%, #f4f9fd 75%, #fff 75%, #fff 100%);
  width: 100vw;
  height: 100%;
  margin-left: calc(50% - 50vw);
  z-index: -1;
  @include mq("md") {
    display: none;
  }
}
.service__img {
	max-width: min(rem(620), 47vw);
  width: 100%;
  height: auto;
  aspect-ratio: 620 / 400;
}
.service__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.service__bg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: rem(385);
  background: linear-gradient(to right, #fff 0%, #fff 8%, #f4f9fd 8%, #f4f9fd 100%);
  z-index: -1;
  right: 0;
  margin-right: calc(50% - 50vw);
}
.service__subenglish {
  font-size: 5.625rem;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 5.625rem;
  font-weight: 700;
  position: absolute;
  text-transform: uppercase;
  left: 8%;
  bottom: rem(-35);
  opacity: 0.07;
}
.top-service__contents {
  position: relative;
}
.service-text {
  max-width: min(rem(450), 32vw);
  width: 100%;
}
.service-text,
.service__img {
  flex: 1;
}

