@use "global" as *;
.thanks{
	margin-top: rem(35);
	text-align: center;
  @include mq("md") {
    margin-top: rem(45);
  }
}
.thanks__title {
	color: $text-color;
	font-size: rem(16);
	font-weight: $bold;
	line-height: 1.75;
	@include mq('md') {
	 font-size: rem(16);
	}
}
.thanks__text {
	color: $text-color;
	font-size: rem(16);
	font-weight: $regular;
	line-height: 1.75;
	@include mq('md') {
		font-size: rem(16);
	 }
}
.thanks__top {
	display: inline-block;
	color: $blue;
	font-size: rem(16);
	font-weight: $regular;
	line-height: 1.75;
	border-bottom: 1px solid $blue;
	margin-top: rem(24);
	@include mq('md') {
		font-size: rem(16);
	margin-top: rem(32);

	 }
}
