@use "global" as *;
.thanks {
  margin-top: rem(50);
  margin-bottom: rem(90);
  @include mq("md") {
    margin-top: rem(93);
    margin-bottom: rem(110);
  }
}
.thanks__title {
  text-align: center;
  color: $text-color;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}
.thanks__text {
  text-align: center;
  color: $text-color;
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}
.thanks__top {
  text-align: center;
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(48);
  }
}
.thanks__top a {
  display: inline-block;
  color: $blue;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}
