@use "global" as *;

// 詳しく見る
.lp-btn__wrap {
  margin-top: rem(25);
  text-align: center;

  @include mq("md") {
    margin-top: rem(48);
  }
}

.lp-btn {
  display: inline-block;
  color: $white;
  font-size: rem(18);
  font-weight: $bold;
  max-width: rem(250);
  width: 100%;
  padding: rem(14) rem(80);
  text-align: center;
  background-color: $blue;
  position: relative;
}

.lp-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: rem(8);
  height: rem(8);
  right: rem(20);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-top: 1px solid $white;
  border-right: 1px solid $white;

  @include mq('md') {
    right: rem(17);
  }
}

// お問い合わせ
.trouble-btn {
  padding: rem(35) rem(23);
  text-align: center;
  background-color: $blue;
}

.trouble-btn__text {
  color: $white;
  font-size: rem(20);
  font-weight: $bold;

  @include mq("md") {
    font-size: rem(22);
    position: relative;
    display: inline-block;
    padding: 0 rem(15);
  }
}

.trouble-btn__text::before,
.trouble-btn__text::after {
  @include mq("md") {
    content: "";
    position: absolute;
    display: block;
    width: rem(2);
    height: rem(65);
    background-color: $white;
    top: 50%;
  }
}

.trouble-btn__text::before {
  left: 0;
  transform: translateY(-50%) rotate(-23deg);
}

.trouble-btn__text::after {
  right: 0;
  transform: translateY(-50%) rotate(23deg);
}

.trouble-btn__items {
  margin-top: rem(19);

  @include mq("md") {
    margin-top: rem(20);
  }
}

.trouble-btn__item {
  max-width: rem(280);
}

.trouble-btn__item:first-child {
  background-color: $white;
  padding: rem(9) rem(61);
}

.trouble-btn__item+.trouble-btn__item {
  margin-top: rem(15);

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(50);
  }
}
.trouble-btn__btn {
  padding: rem(17) rem(65);
  background-color: #ffd33a;
	position: relative;
}
