@use "global" as *;
.lp-title {
	font-size: rem(26);
  font-weight: $bold;
  text-align: center;
  @include mq("md") {
		font-size: rem(40);
  }
}
.lp-title--blue{
	color: $blue;
}
.lp-title--white{
	color: $white;
}
.lp-subTitle {
  font-weight: $bold;
  text-align: center;
}
.lp-subTitle--black {
  color: $text-color;
  font-size: rem(22);
  line-height: 1.85;
  @include mq("md") {
    font-size: rem(26);
    line-height: 1.56;
		text-align: left;
  }
}
.lp-subTitle--blue {
  color: $blue;
  font-size: rem(20);
  line-height: 1.8;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1.5;
  }
}
.lp-text {
  color: $text-color;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}
