@use "global" as *;

.commitment {
  margin-top: rem(60);
  margin-bottom: rem(54);

  @include mq("md") {
    margin-top: rem(80);
    margin-bottom: rem(70);
  }
}

.commitment__inner.inner {
  max-width: rem(600);

  @include mq('md') {
    max-width: rem(1285);
  }
}

.commitment__items {
  margin-top: rem(35);

  @include mq("md") {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: min(rem(47), 4vw);
  }
}

.commitment__item+.commitment__item {
  margin-top: rem(38);

  @include mq("md") {
    margin-top: 0;
  }
}

.commitment__img {
  width: 100%;
  aspect-ratio: 360 / 244;
  height: auto;

  @include mq("md") {
    max-width: rem(378);
    aspect-ratio: 378 / 244;
  }
}

.commitment__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.commitment__content {
  padding: rem(20) rem(7) 0;

  @include mq("md") {
    padding: min(rem(20), 2vw) min(rem(16), 1.2vw) 0;
  }
}

.commitment__text.lp-text {
  margin-top: rem(5);
  line-height: 1.78;

  @include mq('md') {
    letter-spacing: -0.1em;
    line-height: 1.6;
  }
}