@use "global" as *;

.faq {
  padding: rem(60) 0;
  background-color: $blue;

  @include mq("md") {
    padding: rem(80) 0;
  }
}

.faq__items {
  margin-top: rem(40);
  align-self: 100%;
}

.faq__item {
  width: 100%;
  background-color: $white;
}

.faq__item+.faq__item {
  margin-top: rem(25);
}

.faq__title {
  cursor: pointer;
  padding: rem(20) rem(55) rem(20) rem(15);
  position: relative;

  @include mq("md") {
    padding-right: rem(45);
    padding-left: rem(30);
  }
}

.faq__title::after {
  content: '';
  position: absolute;
  display: block;
  width: rem(16);
  height: rem(16);
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  right: rem(16);
  border-top: 2px solid $blue;
  border-right: 2px solid $blue;
  transition: transform .3s ease-in-out, top .3s ease-in-out;

  @include mq('md') {
    right: rem(45);
  }
}

.faq__title.open::after {
  top: 45%;
  transform: rotate(-45deg);
}

.faq__question {
  font-size: rem(16);
  color: #000;
  font-weight: $bold;
  line-height: 1.3;

  @include mq("md") {
    font-size: rem(22);
  }
}

.faq__content {
  padding: 0 rem(55) rem(17) rem(15);
  display: none;

  @include mq("md") {
    padding-right: rem(45);
    padding-left: rem(30);
  }
}

.faq__answer {
  font-size: rem(14);
  color: $text-color;
  font-weight: $regular;
  line-height: 1.5;

  @include mq("md") {
    font-size: rem(16);
    letter-spacing: -0.12em;
  }
}

.faq__wrap {
  display: grid;
  grid-template-columns: rem(45) 1fr;
  align-items: center;
  gap: rem(15);

  @include mq("md") {
    gap: rem(34);
  }
}

.faq__title,
.faq__content {
  width: 100%;
}

.faq__q,
.faq__a {
  font-size: rem(25);
  font-weight: $bold;
  width: rem(45);
  height: rem(45);
  border-radius: 50%;
  display: flex;
  justify-content: center;

  @include mq('md') {
    width: rem(60);
    height: rem(60);
    font-size: rem(35);
  }
}

.faq__q {
  color: $white;
  background-color: $blue;
}

.faq__a {
  color: $blue;
  background-color: $white;
  border: 2px solid $blue;
}