@use "global" as *;
.flow {
  padding: rem(60) 0;
  background-color: #f4f9fd;
  @include mq("md") {
    padding: rem(80) 0;
  }
}
.flow__inner {
  @include mq("md") {
    max-width: rem(870);
  }
}
.flow__items {
  background-color: $white;
  padding: rem(25) rem(10);
  margin-top: rem(40);
  @include mq("md") {
    padding: rem(37) rem(65) rem(60);
  }
}
.flow__item {
  position: relative;
  @include mq("md") {
    display: grid;
    gap: rem(40);
    grid-template-columns: rem(100) 1fr;
    align-items: center;
  }
}
.flow__item:not(:last-child):after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(-26);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 25px 0 25px;
  border-color: $blue transparent transparent transparent;
	@include mq('md') {
		bottom: rem(-31);
	}
}
.flow__item + .flow__item {
	margin-top: rem(47);
	@include mq('md') {
		margin-top: rem(49);
	}
}
.flow__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flow__number {
  color: $blue;
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1;
  @include mq("md") {
    font-size: rem(18);
  }
}
.flow__img {
  margin-top: rem(6);
  max-width: rem(100);
  height: auto;
  aspect-ratio: 100 / 100;
	@include mq('md') {
		margin-top: rem(3);
	}
}
.flow__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.flow__content {
}
.flow__title {
  color: $blue;
  font-size: rem(22);
  font-weight: $bold;
  margin-top: rem(13);
  text-align: center;
  @include mq("md") {
    margin-top: 0;
    font-size: rem(24);
    text-align: left;
  }
}
.flow__text {
  color: $text-color;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.4;
  margin-top: rem(8);
	@include mq('md') {
		letter-spacing: -0.12em;
		line-height: 1.3;
		margin-top: rem(10);
	}
}
