@use "global" as *;

/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.slide {
  display: -ms-grid;
  overflow: hidden;
}

/*----------------------------*/

.slide__wrap {
  display: flex;
  overflow: hidden;
}

.slide__list {
  display: flex;
}

.slide__list--left {
  animation: infinity-scroll-left 60s infinite linear 0.5s both;

  @include mq("md") {
    animation: infinity-scroll-left 70s infinite linear 0.5s both;
  }
}

.lp-slide__item {
  width: rem(130);
  aspect-ratio: 130 / 130;
  height: auto;
	 @include mq("md") {
    width: rem(180);
  }
}

.slide__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}