@use "global" as *;
.lp-splide .splide__slide {
  width: rem(130);
	aspect-ratio: 130 / 130;
	height: auto;
  @include mq("md") {
    width: rem(180);
  }
}

.lp-swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.lp-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
