@use "global" as *;
.lp-service {
  padding: rem(60) 0;
  background-color: #f4f9fd;
  @include mq("md") {
    padding: rem(80) 0;
  }
}
.lp-service__inner {
}
.lp-service__items {
  margin-top: rem(35);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.lp-service__item + .lp-service__item {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(60);
  }
}
.lp-service__item {
  @include mq("md") {
    display: flex;
    align-items: center;
  }
}
.lp-service__item:nth-child(even) {
  @include mq("md") {
    flex-direction: row-reverse;
  }
}
.lp-service__img {
  width: 100%;
  aspect-ratio: 390 / 250;
  display: block;
  height: auto;
  @include mq("md") {
    max-width: rem(880);
    aspect-ratio: 880 / 500;
  }
}
.lp-service__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.lp-service__content {
  padding: rem(25) rem(15) rem(30);
  background-color: $white;
  margin: rem(-20) auto 0;
  position: relative;
  width: max(rem(360), 64vw);
  @include mq("md") {
    width: rem(469);
    margin-top: 0;
		padding: min(4vw,rem(50)) min(4vw,rem(50)) min(5vw,rem(55));
  }
}
.lp-service__item:nth-child(odd) .lp-service__content {
  @include mq("md") {
    margin-left: rem(-100);
		margin-right: 15px;
  }
}
.lp-service__item:nth-child(even) .lp-service__content {
  @include mq("md") {
    margin-right: rem(-100);
		margin-left: 15px;
  }
}
.lp-service__text {
  margin-top: rem(10);

}
