@use "global" as *;
.trouble-mv {
  position: relative;
}
.trouble-mv__img {
  width: 100%;
  height: rem(279);
	display: block;
  @include mq("md") {
    height: rem(785);
  }
}
.trouble-mv__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.trouble-mv__content {
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
  left: rem(15);
  @include mq("md") {
    left: min(rem(75),6vw);
  }
}
.trouble-mv__title {
  color: $blue;
  font-size: rem(30);
  font-weight: $bold;
  line-height: 1.4;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
  @include mq("md") {
    font-size: rem(50);
    line-height: 1.3;
  }
}
.trouble-mv__text {
  margin-top: rem(20);
  color: $text-color;
  font-weight: $regular;
  font-size: rem(16);
  line-height: 1.75;
}
