@use "global" as *;
.company-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(60);
  }
}
.company-message__img {
  margin-top: rem(35);
  max-width: rem(400);
  width: 100%;
  height: auto;
  aspect-ratio: 360 / 403;
  @include mq("md") {
    aspect-ratio: 400 / 450;
    margin-top: rem(45);
  }
}
.company-message__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.company-message__wrap {
  margin-top: rem(25);
  @include mq("md") {
    max-width: rem(650);
    width: 100%;
  }
}
.company-message__text {
  color: $text-color;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.75;
  @include mq("md") {
    font-size: rem(16);
  }
}
.company-message__text + .company-message__text {
  margin-top: rem(30);
}
.company-message__name {
  color: #000;
  font-size: rem(25);
  font-weight: $medium;
  line-height: 1;
  margin-top: rem(20);
  text-align: right;
  display: block;
  @include mq("md") {
    font-size: rem(35);
  }
}
