@use "global" as *;
.privacy {
margin-top: rem(50);
margin-bottom: rem(90);
@include mq('md') {
 margin-top: rem(60);
margin-bottom: rem(110);
}
}
.privacy__read {
color: $text-color;
font-size: rem(16);
font-weight: $regular;
line-height: 1.75;
@include mq('md') {
 font-size: rem(16);
}
}
.privacy__items {

}
.privacy__item {
margin-top: rem(30);
@include mq('md') {
 margin-top: rem(35);
}
}
.privacy__title {
position: relative;
font-size: rem(20);
font-weight: $bold;
color: $blue;
padding-bottom: rem(5);
@include mq('md') {
 font-size: rem(24);
}
}
.privacy__title::after{
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: rem(1);
	left: 0;
	bottom: 0;
	background: linear-gradient(to right, $blue 120px, #DDD 120px, #DDD 100%);
}
.privacy__text {
margin-top: rem(5);
color: $text-color;
font-size: rem(16);
font-weight: $regular;
line-height: 1.75;
@include mq('md') {
 font-size: rem(16);
}
}
