@use "global" as *;
.privacy {
margin-top: rem(50);
margin-bottom: rem(90);
@include mq('md') {
 margin-top: rem(90);
margin-bottom: rem(114);
}
}
.privacy__read {
color: $text-color;
font-size: rem(16);
font-weight: $regular;
line-height: 1.75;
@include mq('md') {
 font-size: rem(16);
}
}
.privacy__items {
	margin-top: rem(30);
	@include mq('md') {
	 margin-top: rem(35);
	}
}
.privacy__item + .privacy__item {
	margin-top: rem(30);
	@include mq('md') {
	margin-top: rem(36);

	}
}
.privacy__title {
position: relative;
font-size: rem(20);
font-weight: $bold;
color: $blue;
padding-bottom: rem(4);
@include mq('md') {
 font-size: rem(24);
padding-bottom: rem(5);
}
}
.privacy__title::after{
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: rem(1);
	left: 0;
	bottom: 0;
	background: linear-gradient(to right, $blue 120px, #DDD 120px, #DDD 100%);
}
.privacy__text {
	color: $text-color;
	font-size: rem(16);
	font-weight: $regular;
	line-height: 1.75;
	@include mq('md') {
		font-size: rem(16);
	}
}
.privacy__item .privacy__text:first-of-type{
	margin-top: rem(5);
}