@use "global" as *;

.fv-swiper {
  z-index: -1 !important;
  left: 15%;
  height: calc(100vh - 70px) !important;

  @include mq(md) {
    left: 0;
  }
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 7s linear 0s normal both;

}