@use "global" as *;

.top-feature {
  width: 100%;
  height: auto;
  padding: rem(60) 0;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #e5ecf4 calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  margin-top: rem(40);
  padding: rem(56) $padding-sp;
  padding-bottom: rem(30);

  @include mq(md) {
    margin-top: rem(55);
    padding: rem(80) $padding-pc;
  }
}

.top-feature__inner{
  position: relative;

  @include mq(md) {
    max-width: rem(1440);
    margin-inline: auto;
  }
}

.top-feature__englishtitle {
  position: absolute;
  font-size: rem(70);
  font-weight: $medium;
  font-family: $english-font-family;
  color: $blue;
  opacity: 0.1;
  text-transform: uppercase;
  top: rem(-110);
  right: rem(-10);


  @include mq(md) {
    text-align: right;
    display: block;
    font-size: rem(135);
    top: rem(-170);
    right: rem(-30);
  }
}

.top-feature__englishtitle--inner {
  @include mq(md) {
    max-width: rem(1440);
    height: auto;
  }
}

.top-feature__lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(30);
  margin-top: rem(30);

  @include mq(md) {
    margin-top: rem(35);
    gap: rem(20);
    flex-direction: row;
  }
}

.top-feature__wrap {
  max-width: rem(320);

  @include mq(md) {}
}

.top-feature__summary {
  margin-top: rem(25);
  line-height: 1.75;

  @include mq(md) {
    margin-top: rem(45);
    text-align: center;
    font-size: 16px;
  }
}

.top-feature__wrap img {
  max-width: rem(320);
  aspect-ratio: 320 / 200;
}

.top-feature__wrap p {
  display: block;
  color: $blue;
  font-weight: $bold;
  text-align: center;
  font-size: rem(18);
  margin-top: rem(10);

  @include mq(md) {
    font-size: min(2vw, rem(18));

  }
}

.top-feature__button {
  margin-top: rem(60);

  @include mq(md) {
    margin-top: rem(44);
  }
}

.top-feature__button a {
  margin-inline: auto;
}