@use "global" as *;

.top-slide {
  height: rem(150);
  background: linear-gradient(180deg, transparent 0%, transparent 50%, $blue 50%, $blue 100%);
  background-position: 10% 10%;
  margin-top: rem(40);

  @include mq(md) {
    height: rem(248);
    margin-top: rem(80);
    background: linear-gradient(180deg, transparent 0%, transparent 20%, $blue 20%, $blue 100%);
  }
}

.top-slide__list {
}

.top-slide__item {
  width: rem(200);
  aspect-ratio: 200 / 125;
  height: auto;
  @include mq("md") {
    width: rem(360);
    aspect-ratio: 360 / 225;
  }
}

.top-slide ul li {
  margin-left:rem(10);
  @include mq("md") {
    margin-left:rem(15);

  }
}

.top-slide__item img {
  border-radius: 10px;
  // border: none;
}