@use "global" as *;

.top-swiper {
  margin-top: rem(50);
  padding-bottom: rem(24) !important;
  background: linear-gradient(180deg, transparent 0%, transparent 45%, $blue 45%, $blue 100%);
    @include mq(md) {
        margin-top: rem(80);
        background: linear-gradient(180deg, transparent 0%, transparent 20%, $blue 20%, $blue 100%);
      }
}