@use "global" as *;
.top-fv {
    margin-inline: auto;
    position: relative;
    width: 100%;
    padding-left: 8%;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    height: calc(100vh - 70px);


    @include mq(md) {
      padding-left: 20.8%;
    }
  }

  .top-fv__img {
    height: calc(100vh - 70px) !important;

 
    @include mq(md) {
    }
  }

  .top-fv__img img {
    display: block;
    object-fit: cover;
    height: calc(100vh - 70px) !important;


    @include mq(md) {
    }

  }

  .color-blue,
  .color-white {
    font-size: rem(35);
    font-weight: $bold;
    height: calc(100% - 24%);
    overflow: hidden;
    position: absolute;
    top: 27%;
    line-height: 1.42;
    z-index: 1;
    left: 5%;

    @include mq(md) {
        top: 24%;
        font-size: min(5vw, rem(70));
        left: 9%;
    }

  }
  .color-blue {
    width: 17%; /* テキストの端から画像の端までの長さ */
    @include mq(md) {
      width: 12%;

    }
  }

  .color-white {
    margin-left: 17%; /* テキストの端から画像の端までの長さ */
    width: 100%;
    @include mq(md) {
      margin-left: 12%;
    }
  }

  .color-white span {
    position: absolute;
    color: #fff;
    left: -17%; /* テキストの端から画像の端までの長さ分マイナス */
    @include mq(md) {
      left: -12%;
    }
  }

  .color-blue span {
    position: absolute;
    color: $blue;
    width: 700%;
  }

  .color-blue__sub, .color-white__sub {
    font-size: rem(12);
    font-weight: $bold;
    height: calc(100% - 24%);
    overflow: hidden;
    position: absolute;
    top: 27%;
    line-height: 2;
    padding-top: rem(120);
    z-index: 2;
    left: 5%;

    @include mq(md) {
        top: 24%;
        padding-top: min(16vw,rem(240));
        font-size: min(1.5vw, rem(18));
        left: 9%;


    }
  }

  .color-blue__sub {
    width: 17%; /* テキストの端から画像の端までの長さ */
    @include mq(md) {
      width: 12%;
    }
  }

  .color-white__sub {
    margin-left: 17%; /* テキストの端から画像の端までの長さ */
    width: 100%;

    @include mq(md) {
      margin-left: 12%;
    }
  }

  .color-white__sub span {
    position: absolute;
    color: #fff;
    left: -17%; /* テキストの端から画像の端までの長さ分マイナス */

    @include mq(md) {
      left: -12%;
    }
  }

  .color-blue__sub span {
    position: absolute;
    color: $blue;
    width: 1000%;
  }

.top-fv__banner {
    margin-top: rem(27);

    @include mq(md) {
        margin-top: rem(55);
        position: relative;
        max-width: rem(1440);
    }
}

.top-fv__banner a {
    display: block;
    max-width: rem(360);
    aspect-ratio: 360 / 168;
    margin-inline: auto;

  @include mq(md) {
    max-width: rem(750);
    aspect-ratio: 750 / 350;
  }
}

.top-fv__banner a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}