@use "global" as *;
.top-contact {
  padding-top: rem(78);
  padding-bottom: rem(82);
  position: relative;
	@include mq('md') {
	 padding-bottom: rem(67);
	}
}
.top-contact::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: -1;
	@include mq('md') {
		background-image: url(../images/contact-bg-pc.jpg);

	}
}
.top-contact::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(10, 56, 100, 0.45);
  z-index: -1;
}
.top-contact__thin{
	position: absolute;
	top: rem(-19);
	left: 50%;
	transform: translateX(-50%);
}
.top-contact__read {
  margin-top: rem(20);
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  text-align: center;
  @include mq("md") {
    font-size: rem(16);
  }
}
.top-contact__items {
  margin-top: rem(28);
	@include mq('md') {
		margin-top: rem(31);
	}
}
.top-contact__item {
  background-color: $white;
	max-width: rem(230);
}
.top-contact__item:first-child{
  padding: rem(9) rem(36);
}
.top-contact__item + .top-contact__item {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(50);
  }
}
.top-contact__item a {
  background-color: $white;
  padding: rem(19) rem(55);
	font-size: rem(20);
}
