@use "global" as *;

.top-service {
    max-width: rem(1440);
    margin-inline: auto;
    padding-inline: $padding-sp;
    padding-top: rem(90);
    position: relative;

    @include mq(md) {
      padding-inline: $padding-pc;
      padding-top: rem(80);
    }
}

.top-service__summary {
    display: block;
    font-size: rem(16);
    margin-inline: auto;
    margin-top: rem(46);
    line-height: 1.75;

    @include mq(md) {
        text-align: center;
        margin-top: rem(45);
        line-height: 1.75;
    }
}

.top-service__englishtitle {
  position: absolute;
  font-size: rem(70);
  font-weight: $medium;
  font-family: $english-font-family;
  color: $blue;
  opacity: 0.1;
  text-transform: uppercase;
  right: 0;
  top: 0;


  @include mq(md) {
    font-size: rem(135);
    top: rem(-95);
    left: 0;
  }
}

.top-service__subenglish{
    display: none;
  
    @include mq(md) {
        font-size: rem(90);
        top: 80%;
        display: inline-block;
        font-family: $english-font-family;
        font-size: rem(90);
        font-weight: $bold;
        position: absolute;
        right: 0;
        top: rem(-34);
        text-transform: uppercase;
    }
  }
  
.top-service__subenglish--left {
  color: $blue;
  opacity: 0.05;

  @include mq(md) {
    left: 0%;
  }
}

.top-service__subenglish--right {
  color: $white;
  opacity: 0.07;

  @include mq(md) {
    right: 0;
    top: 60%;
  }
}

.top-service__wraps {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.top-service__heading::after {
    position: absolute;
    text-transform: uppercase;
    color: $blue;
    font-size: rem(14);
    font-weight: $bold;
    left: 1%;
    top: rem(-10);

}

.top-service__heading--01::after {
    content: "apartment";
}

.top-service__heading--02::after {
    color: $white;
    content: "building";
}

.top-service__heading--03::after {
    content: "housing";
}