@use "global" as *;

.top-news {
    margin-top: rem(60);
    padding: 0 $padding-sp;
    position: relative;

    @include mq("md") {
        margin-top: rem(80);
        padding: 0 $padding-pc;

    }
}
.top-news__wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: rem(60);
    align-items: center;

    @include mq("md") {
        gap: min(3vw,rem(50));
        margin-top: rem(27);
        flex-direction: row;
      }
}

.top-news__contents {
    width: 100%;
    @include mq("md") {
        width: auto;
    }
}

.top-news__content {
    margin-inline: auto;
    padding: 0 rem(15);
    @include mq("md") {
        // min-width: rem(500);
        width:  min(60vw,rem(700));
    }
}

.top-news__content {
    @include mq("md") {
        flex-shrink: 1;
    }
}

.top-news__conten::before {
    left: 3.8%;

    @include mq(md) {
        left: 0;
    }
}

.top-news__button a {
    margin-inline: auto;
    @include mq(md) {
        flex-shrink: 0;
        padding: rem(15) min(5vw, rem(80));
    }
}

.top-news__englishtitle {
    line-height: 0.7;
    text-align: right;
    display: block;
    font-size: rem(70);
    font-weight: $medium;
    font-family: $english-font-family;
    color: $blue;
    opacity: 0.1;
    text-transform: uppercase;
    padding-top: rem(25);


  @include mq(md) {
    font-size: min(13vw,rem(135));
    padding-top: rem(10);
  }
}