@use "global" as *;
.top-fv {
    margin-inline: auto;
    position: relative;
    width: 100%;
    padding-left: 3%;
    overflow: hidden;
    height: rem(410);
    -webkit-text-size-adjust: 100%;
    @include mq(md) {
      padding-left: 9%;
      height: min(49vw,rem(685));
    }
  }

  .top-fv__bg {
    position: absolute;
    height: inherit;
    background-color: #fff;
    width: 100%;
    left: 0;
    background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 80%, #fff 80%, #fff 100%);
    z-index: 1;

    @include mq(md) {
      background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 80.8%, #fff 80.8%, #fff 100%);
      height: min(49vw,rem(687));
    }
  }

  .top-fv__img {
    height: 410px !important;
    margin-left: 17%; 
    z-index: -1;


    @include mq(md) {
      height: auto !important;
      margin-left: 10.5%; /* テキストの端から画像の端までの長さ */
    }
  }
  .top-fv__img img {
    display: block;
    object-fit: cover;
    height: 410px !important;

    @include mq(md) {
      height: auto !important;
    }

  }

  .color-blue,
  .color-white {
    font-size: rem(35);
    font-weight: $bold;
    height: calc(100% - 24%);
    overflow: hidden;
    position: absolute;
    top: 24%;
    line-height: 1.42;
    z-index: 1;

    @include mq(md) {
        font-size: min(5vw, rem(70));
    }

  }
  .color-blue {
    width: 17%; /* テキストの端から画像の端までの長さ */
    @include mq(md) {
      width: 10.5%;

    }
  }

  .color-white {
    margin-left: 17%; /* テキストの端から画像の端までの長さ */
    width: 100%;
    @include mq(md) {
      margin-left: 10.5%;
    }
  }

  .color-white span {
    position: absolute;
    color: #fff;
    left: -17%; /* テキストの端から画像の端までの長さ分マイナス */
    @include mq(md) {
      left: -10.5%;
    }
  }

  .color-blue span {
    position: absolute;
    color: $blue;
    width: 700%;
  }

  .color-blue__sub, .color-white__sub {
    font-size: rem(12);
    font-weight: $bold;
    height: calc(100% - 24%);
    overflow: hidden;
    position: absolute;
    top: 24%;
    line-height: 2;
    padding-top: rem(120);
    z-index: 2;


    @include mq(md) {
        padding-top: min(16vw,rem(240));
        font-size: min(1.5vw, rem(18));

    }
  }

  .color-blue__sub {
    width: 17%; /* テキストの端から画像の端までの長さ */
    @include mq(md) {
      width: 10%;
    }
  }

  .color-white__sub {
    margin-left: 17%; /* テキストの端から画像の端までの長さ */
    width: 100%;

    @include mq(md) {
      margin-left: 10%;
    }
  }

  .color-white__sub span {
    position: absolute;
    color: #fff;
    left: -17%; /* テキストの端から画像の端までの長さ分マイナス */

    @include mq(md) {
      left: -10%;
    }
  }

  .color-blue__sub span {
    position: absolute;
    color: $blue;
    width: 1000%;
  }

.top-fv__banner {
    margin-top: rem(27);

    @include mq(md) {
        margin-top: rem(55);
    }
}

.top-fv__banner a {
    display: block;
    max-width: rem(360);
    aspect-ratio: 360 / 168;
    margin-inline: auto;

  @include mq(md) {
    max-width: rem(750);
    aspect-ratio: 750 / 350;
  }
}

.top-fv__banner a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}