@use "global" as *;
.news {
    margin-top: rem(35);

    @include mq(md) {
        margin-top: rem(95);
    }
}


.news__content {
    width: 100%;

    @include mq(md) {
        display: flex;
    }
}

.news__content::before {
    left: 0;

}

.news__pagenavi {
    margin-top: rem(55);
    margin-bottom: rem(90);

    @include mq(md) {
        margin-top: rem(50);
        margin-bottom: rem(110);
    }
}