@use "global" as *;

.news-details{
    margin-top: rem(60);
    margin-bottom: rem(90);

    @include mq(md) {
        margin-top: rem(124);
        margin-bottom: rem(105);
    }
}
.news-details__content{
    margin-top: rem(15);
    line-height: 1.75;

    @include mq(md) {
    }

}
.news-details__date{
    display: block;
    color: $text-color;
    font-weight: $regular;
    font-size: rem(16);
    text-align: right;
    margin-top: rem(5);
    line-height: 1.75;


    @include mq(md) {
    }
}

.news-details__title{
    color: $blue;
    font-weight: $bold;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding-bottom: rem(10);
    font-size: rem(20);


    @include mq(md) {
        font-size: rem(24);
    }
}
.news-details__title::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: rem(1);
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, $blue 120px, #ddd 120px, #ddd 100%);
}

.news-details__button  {
    margin-top: rem(70);

    @include mq(md) {
        margin-top: rem(80);
    }
}

.news-details__button a{
    margin-inline: auto;
  }