@use "global" as *;
.breadcrumbs{
	text-align: right;
	margin-top: rem(8);
	padding-right: min(rem(165,12vw));
	@include mq('md') {
	 margin-top: rem(9);
	}
}
.breadcrumbs__symbol{
	margin: 0 rem(6);
	vertical-align: middle;
}
.breadcrumbs span{
	font-size: rem(12);
	font-weight: $regular;
	@include mq('md') {
	font-size: rem(12);
	}
}

.breadcrumbs span.home{
	color: $blue;
	font-size: rem(12);
	font-weight: $regular;
	@include mq('md') {
		font-size: rem(12);
		}

}
.post-page {
	color: $blue;
	font-size: rem(12);
	font-weight: $regular;
	@include mq('md') {
		font-size: rem(12);
		}
}