@use "global" as *;
.breadcrumbs {
  padding-left: 15px;
  margin-top: rem(8);
  @include mq("md") {
    text-align: right;
    padding-right: min(rem(165), 12vw);
    margin-top: rem(9);
  }
}
.breadcrumbs__symbol {
  margin: 0 rem(6);
  vertical-align: middle;
}
.breadcrumbs span {
  font-size: rem(12);
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(12);
  }
}

.breadcrumbs span.home {
  color: $blue;
  font-size: rem(12);
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(12);
  }
}
.post-page {
  color: $blue;
  font-size: rem(12);
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(12);
  }
}
