@use "global" as *;
.breadcrumbs {
  padding-left: 15px;
  margin-top: rem(47);
  font-size: rem(12);
  @include mq("md") {
    text-align: right;
    padding-right: min(rem(165), 12vw);
    margin-top: rem(9);
    font-size: rem(12);
  }
}
.breadcrumbs__symbol {
  margin: 0 rem(5);
  vertical-align: middle;
	@include mq('md') {
		margin: 0 rem(4);
	}
}
.breadcrumbs span {
  font-size: rem(12);
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(12);
  }
}

.breadcrumbs .home span {
  color: $text-color;
  font-size: rem(12);
  font-weight: $regular;
  display: inline-block;
  @include mq("md") {
    font-size: rem(12);
  }
}
.post-page {
  color: $blue;
  font-size: rem(12);
  font-weight: $regular;
  display: inline-block;
  @include mq("md") {
    font-size: rem(12);
  }
}
