@use "global" as *;

/* ボタン共通パーツ */
.button {

}

.button a {
    display: block;
    max-width: rem(250);
    width: 100%;
    padding: rem(14) rem(80);
    background-color: $blue;
    color: $white;
    font-size: rem(18);
    font-weight: $bold;
    transition: opacity 0.3s;
    position: relative;
}

/* 矢印が右向き */
.button a::before {
    position: absolute;
    content: "";
    display: block;
    width: rem(8);
    height: rem(8);
    right: 5%;
    top: 50%;
    transform: translate(-70%, -50%) rotate(45deg);
    border-top: 1px solid $white;
    border-right: 1px solid $white;
      @include mq('md') {
          right: 5%;
          transform: translate(-60%, -50%) rotate(45deg);
      }

}

/* 矢印が下向き */
.button--bottomarrow a {
    text-align: center;
    width: rem(250);
}
.button--bottomarrow a::before {
    transform: translate(-70%, -50%) rotate(135deg);
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    
}