@use "global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem(70);
    z-index: 99999;
    background-color: #fff;
    color: $text-color;
}

.header__inner {
    display: flex;
    height: inherit;
    justify-content: space-between;

    @include mq(md) {
        padding: 0 0 0 rem(30);
    }
}

.header__logo {
    width: rem(215);

    @include mq(md) {
        width: rem(215);
        height: rem(60);
        padding-top: rem(5);
    }
}

.header__sp-nav {
    display: none;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 8888;
}

.header__right {
    display: none;

    @include mq(md) {
        display: flex;
        gap: rem(20);
    }
}

.header__pc-nav {
    display: none;

    @include mq(md) {
        display: block;
        display: flex;
        align-items: center;
    }
}