@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rem(70);
  z-index: 99999;
  background-color: #fff;
  color: $text-color;
}

.header__inner {
  display: flex;
  height: inherit;
  justify-content: space-between;
  padding-left: rem(15);

  @include mq(md) {
    padding-left: min(2vw, rem(30));
  }
}

.header__logo {
  width: rem(197);
  height: auto;
  aspect-ratio: 197 / 55;
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;
  @include mq("md") {
    width: min(rem(215), 20vw);
    aspect-ratio: 215 / 60;
  }
}

.header__sp-nav {
  display: block;
  position: absolute;
  background-color: $white;
  z-index: 8888;
  /*ナビのスタート位置と形状*/
  top: -1500px;
  left: 0;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  /*動き*/
  transition: all 0.6s;
}

.header__sp-nav.panelactive {
  top: 0;
}

.header__right {
  display: none;
  @include mq(md) {
    height: inherit;
    display: flex;
    gap: min(rem(20),2vw);
  }
}

.header__pc-nav {
  display: none;
  @include mq(md) {
    height: inherit;
    display: block;
    display: flex;
    align-items: center;
  }
}
