@use "global" as *;
/* 共通パーツ 下層ページ上のメインビュー*/
.mainview {
    position: relative;

    @include mq(md) {

    }
}

.mainview__inner {

}

.mainview__title {
    position: absolute;
    top:76%;
    left:3.8%;
    transform: translateX(-3.8%);
    font-weight: $medium;
    background-color: $blue;
    color: $white;
    padding: rem(15) rem(25) rem(10) rem(20);

    @include mq(md) {
      font-size: rem(35);
      letter-spacing: 0.05714em;
      top:83%;
      left:11.1%;
      transform:translateX(-11.1%);
      padding: rem(20) rem(25) rem(15) rem(25);
    }
}

.mainview__title span {
    font-size: rem(30);
    text-transform: uppercase;

    @include mq(md) {
        font-size: rem(40);
    }
}

.mainview__title h1 {
    font-size: rem(16);
    font-weight: normal;

    @include mq(md) {
        font-size: rem(18);
    }
}

.mainview__sp {
    width: 100%;
    height: rem(225);

    @include mq(md) {
        display: none;
    }
}

.mainview__sp img{
    width: 100%;
    height: rem(225);
    object-fit: cover;
    object-position: 30% 60%;
}

.mainview__pc {
    display: none;


    @include mq(md) {
        display: block;
        width: 100%;
        height: rem(300);
    }
}

.mainview__pc img {
    @include mq(md) {
        height: rem(300);
        object-fit: cover;

    }
}
