@use "global" as *;

.pc-nav__items {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: right;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  position: relative;
  color: $text-color;
  font-size: rem(14);
  height: inherit;
  display: grid;
  place-items: center;
  padding: 0 min(rem(12), 1vw);
}

.pc-nav__item a::after {
  position: absolute;
  // left: 0;
  // content: "";
  // width: 100%;
  // height: rem(1);
  // background: #FFEA2E;
  // bottom: rem(8);
  // visibility: hidden;
}

.pc-nav__item a:hover::after {
  // visibility: visible;
}

.pc-nav__item.pc-nav__item--white {
  margin-left: rem(15);

  :hover {
    background-color: #333;
    color: $white;
  }
}

.pc-nav__item.pc-nav__item--white a::after {
  display: none;
}

.pc-nav__item.pc-nav__item--white a {
  background-color: $white;
  color: #333;
  padding-left: rem(32);
  padding-right: rem(35);

  :hover {
    color: $white;
  }
}

.pc-nav__tel {
  padding-left: min(rem(24),1.6vw);
  height: inherit;
  display: flex;
  align-items: center;
}

.pc-nav__contact {
  display: none;

  @include mq(md) {
    color: $white;
    background-color: $blue;
    width: min(rem(250), 18vw);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: inherit;
  }
}
.pc-nav__contact a {
	display: flex;
	align-items: center;
	justify-content: center;
  height: inherit;
  width: inherit;
}
.pc-nav__contact span {
  font-size: min(rem(20), 2vw);
  display: inline-block;
	color: $white;
	font-weight: $bold;
}
