@use "global" as *;

.sp-nav__items {
    margin-left: rem(2);
    padding-top: rem(192);
    padding-bottom: rem(208);
    height: 100vh;
    overflow: scroll;
}

.sp-nav__item a {
    display: block;
    width: 100%;
    padding-top: rem(16);
    padding-bottom: rem(15);
    text-align: center;
    color: #fff;
    font-size: rem(16);
    letter-spacing: 0.125em;
}