@use "global" as *;

.tel-box {
  display: flex;
  align-items: center;
  gap: rem(6);
  justify-content: center;
  text-align: start;
  margin-top: rem(20);

  @include mq("md") {
    margin-top: 0;
  }
}

.tel-box__img {
  width: rem(17);
  height: auto;
}

.tel-box__img img {
  width: rem(17);
  height: auto;
}

.tel-box__details {
  display: flex;
  flex-direction: column;
}

.tel-box__number a {
  display: inline-block;
  font-weight: $bold;
  font-size: rem(20);
  padding-top: 0;
  padding-bottom: 0;

  @include mq("md") {
    font-size: min(rem(20), 2vw);
  }
}

.tel-box__number--pc {
  font-weight: $bold;
}

.tel-box__time {
  display: inline-block;
  font-size: rem(10);
  font-weight: $medium;
}